@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

.mr-2 {
  width: 200px; 
  height: 200px; 
  background-color: transparent; 
}



header {
    position:relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1% 10%;
    background: #11141a;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
nav a {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 1.5rem;
    transition: 0.5s;
}

nav a:hover {
    color: #8c8b8b ;
    text-decoration: none;
}

.logo {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    &:hover {
      text-decoration: none;
      color: #8c8b8b !important;
    }
}

@media (max-width:600px) {
  .navbar {
    width: 50% !important;
    justify-content: space-between;
    display: flex !important;
  }


  .logo {
    font-size: 1.2rem !important;
    position: relative;
    top: 1.2rem;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    &:hover {
      text-decoration: none;
      color: #8c8b8b !important;
    }
}
}

/* icones social icons */
  .cards {
    display:flex;
    height: 4rem;
    width: 100%;
    justify-content: center;
  }
  
  .cards svg {
    position: absolute;
    display: flex;
    width: 2.7rem;
    height: 2.7rem;
    font-size: 22px;
    font-weight: 600;
    opacity: 1;
    transition: opacity 0.25s;
    z-index: 2;
    padding: 0.2rem;
    cursor: pointer;
  }
  
  .cards .social-link1,.cards .social-link2,.cards .social-link3,.cards .social-link4 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    color: whitesmoke;
    font-size: 24px;
    text-decoration: none;
    transition: 0.25s;
    border-radius: 50px;
  }
  
  .cards svg {
    transform: scale(1);
  }
  
  .cards .social-link1:hover {
    background: #f09533db;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    animation: bounce_613 0.6s linear;
  }
  
  .cards .social-link2:hover {
    background-color: #242c34d6;
    animation: bounce_613 0.6s linear;
  }
  
  .cards .social-link3:hover {
    background-color: #5865f2dc;
    animation: bounce_613 0.6s linear;
  }
  
  .cards .social-link4:hover {
    background-color: #0a66c2da;
    animation: bounce_613 0.6s linear;
  }
  
  @keyframes bounce_613 {
    40% {
      transform: scale(1.1);
    }
  
    60% {
      transform: scale(0.9);
    }
  
    80% {
      transform: scale(1.1);
    }
  
    100% {
      transform: scale(1);
    }
  }

section {
  /* Basic dimensions and centering */
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  justify-content: center;
  align-items: center;

  /* Dark mode colors and gradient */
  background: #121212; /* Fallback for browsers that don't support gradients */
  background: linear-gradient(
    135deg,
    #7696BC 25%,
    #5C7286 25%,
    #5C7286 50%,
    #7696BC 50%,
    #7696BC 75%,
    #5C7286 75%,
    #5C7286
  );
  background-size: 40px 40px;

  /* Animation */
  animation: move 4s linear infinite;
}

@keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px 40px;
  }
}


@media (max-width:600px) {
  section {
    overflow: hidden !important;
    min-height: 90vh;
    min-width: 93vh;
    /* Basic dimensions and centering */
    width: 100% !important;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Dark mode colors and gradient */
    background: #121212; /* Fallback for browsers that don't support gradients */
    background: linear-gradient(
      135deg,
      #626161 25%,
      #353434 25%,
      #353434 50%,
      #626161 50%,
      #626161 75%,
      #353434 75%,
      #353434
    );
    background-size: 30px 30px;

    /* Animation */
    animation: move 5s linear infinite;
    font-size: 20px;
    color:#fff;
    font-weight: 600;
}

}

img.pfp  {
   
    box-shadow: 7px 15px #17BEBB;
    border: 30px;
    border-radius: 150px;
    height: 70%;
    width: 25%;
   
  }

  @media only screen and (max-width:979px){
    img.pfp  {
      margin-top: 13.5%;
      margin-left: 2%;
      box-shadow: 9px 14px #17BEBB;
      border: 30px;
      border-radius: 150px;
      height: 14%;
      width: 14%;
    }
  }

  @media only screen and (max-width:600px){
    img.pfp  {
      margin-top: 9rem;
      margin-left: 2%;
      box-shadow: 9px 14px #17BEBB;
      border: 30px;
      border-radius: 150px;
      height: 14%;
      width: 14%;
    }
  }

.sobremim {
    justify-content: center;
    align-items: center;
    display: flex;
    color: #ffff ;
    padding:5rem;
    padding-top: 6rem;
    text-align: start ;
  }

  .sobre{
    text-align:center;
    background-color: #1D1D1D;
    width: 61rem;
    padding: 1.5rem;
    padding-left: 4rem;
    font: 600 2rem 'Poppins', sans-serif;
    display: flex;
    border-radius: 4rem;
  }


  @media (max-width:900px){

    .sobremim {
      color: #17BEBB;
      position: relative;
      display: flex;
      margin-left: 3.5rem;
      
    }

    .sobre{
      text-align:center;
      background-color: #1D1D1D;
      color: #ffff;
      width: 23rem;
      padding: 1rem;
      font: 700 1.1rem 'Poppins', sans-serif;
      display: flex;
      border-radius: 4rem;
    }
  }

  /* projetos */

  .projects {
    color: rgb(233, 230, 240);
    font-size: 23px;
    position: relative;
    margin-top: 10%;
    display: flex;
    left: 44%;
    font: 600 3rem 'Poppins', sans-serif;
  }

  .portifolio{
    display: flex;
  }

  @media only screen and (max-width:979px) {
    .portifolio {
      display: grid;
      overflow-x: scroll;
    }
  }

/* Cards dos Projetos */

  .card {
    position:relative;
    width: 30%;
    height: 400px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  @media only screen and (max-width:979px) {
    .card {
      position: relative;
      width: 20%;
      height: 300px;
      background-color: #f2f2f2;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      perspective: 1000px;
      box-shadow: 0 0 0 5px #ffffff80;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
  
  .card img {
    width: auto;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 32px;
    color: #333;
    font-weight: 700;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 20px;
    color: #777;
    line-height: 1.4;
  }
  
  .card2 {
    position: relative;
    width: 25%;
    height: 400px;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    margin-left: 15%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 2000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  @media only screen and (max-width:979px) {
    .card2 {
      position: relative;
      width: 20%;
      height: 300px;
      background-color: #fff;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      perspective: 2000px;
      box-shadow: 0 0 0 5px #ffffff80;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
  
  .card2 img {
    width: 100%;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card2:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card2__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card2:hover .card2__content {
    transform: rotateX(0deg);
  }
  
  .card2__title {
    margin: 0;
    font-size: 32px;
    color: #333;
    font-weight: 700;
  }
  
  .card2:hover svg {
    scale: 0;
  }
  
  .card2__description {
    margin: 10px 0 0;
    font-size: 20px;
    color: #777;
    line-height: 1.4;
  }
  
  .card3 {
    position: relative;
    margin-left: 15%;
    width: 25%;
    height: 400px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 2000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  @media only screen and (max-width:979px) {
    .card3 {
      position: relative;
      width: 20%;
      height: 300px;
      background-color: #f2f2f2;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      perspective: 2000px;
      box-shadow: 0 0 0 5px #ffffff80;
      transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
  }
  
  .card3 img {
    width: auto;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card3:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card3__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card3:hover .card3__content {
    transform: rotateX(0deg);
  }
  
  .card3__title {
    margin: 0;
    font-size: 32px;
    color: #333;
    font-weight: 700;
  }
  
  .card3:hover svg {
    scale: 0;
  }
  
  .card3__description {
    margin: 10px 0 0;
    font-size: 20px;
    color: #777;
    line-height: 1.4;
  }

  .secao {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5rem;
    gap: 4rem;
  }

 /***** Top menu *****/
 .dropdown {
  top: 1rem;
 }

.navbar {
  background: #1D1D1D;
  transition: all .6s;
  backface-visibility: hidden;
  box-shadow: 0 2px 5px 1px rgba(51, 51, 51, 0.5);
}

.navbar-dark .navbar-nav {
  font-size: 1rem;
  color: #fff;
  text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus {
  color: #fff;
  outline: 0;
}

.navbar-dark .navbar-toggler {
  border-color: #444;
}

@media (max-width: 769px) {
  .navbar-dark .navbar-toggler {
    position: relative;
    bottom: 1rem;
  }
}

@media (max-width: 600px) {
  .navbar-dark .navbar-toggler {
    position: relative;
    bottom: 1rem;
    right: 5rem;
  }
}

.navbar-dark .navbar-toggler:focus {
  background: none;
  outline: 0;
}

.navbar-dark .navbar-toggler span {
  display: block;
  width: 30px;
  height: 2px;
  margin: 6px auto;
  background: #fff;
  transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

.navbar-dark .navbar-toggler:hover span,
.navbar-dark .navbar-toggler:focus span {
  background: #ccc;
}

/* rotate first span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:first-of-type {
  transform: rotate(45deg) translate(6px, 6px);
}

/* hide second span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
  opacity: 0;
}

/* rotate third span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:last-of-type {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-dark .navbar-toggler[aria-expanded="false"] span {
  transform: none;
  opacity: 1;
}

.navbar-brand {
  width: 162px;
  height: 44px;
  background: url(../img/logo.png) left center no-repeat;
  border: 0;
  text-indent: -99999px;
}

.navbar-dark .navbar-toggler span {
  display: block;
  width: 30px;
  height: 2px;
  margin: 6px auto;
  background: #fff;
  transition: all .6s cubic-bezier(0.250, 0.100, 0.250, 1.000);
}

/* rotate first span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:first-of-type {
  transform: rotate(45deg) translate(6px, 6px);
}

/* hide second span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:nth-of-type(2) {
  opacity: 0;
}

/* rotate third span */
.navbar-dark .navbar-toggler[aria-expanded="true"] span:last-of-type {
  transform: rotate(-45deg) translate(5px, -5px);
}

.navbar-dark .navbar-toggler[aria-expanded="false"] span {
  transform: none;
  opacity: 1;
}
@media (max-width:989px) {
  .container-card {
    position: relative;
    width: 33rem !important;
    height: 28rem !important;
    margin-top: 4.5rem !important;
    background: #1D1D1D;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 1.4rem;
  
      .sobre-card{
        text-align:start !important;
        color: #ffff;
        width:20rem;
        padding-left: 4.8rem !important;
        font: 700 1.4rem 'Poppins', sans-serif !important;
        border-radius: 4rem;
      }
  }
  .container-card .skill-box {
    display: flex;
    width: 30rem !important;
    margin: 25px 0;
    img {
      position: relative;
      bottom: 0.4rem !important;
    }
  }

}

@media (max-width:600px) {
  .container-card {
    position: relative;
    width: 23rem !important;
    height: 25rem !important;
    margin-left: -4rem !important;
    background: #1D1D1D;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 1.4rem;
  
      .sobre-card{
        text-align:start !important;
        color: #ffff;
        width:20rem;
        padding-left: 2rem !important;
        font: 700 1.2rem 'Poppins', sans-serif !important;
        border-radius: 4rem;
      }
  }
  .container-card .skill-box {
    display: flex;
    width: 20rem !important;
    margin: 25px 0;
    img {
      position: relative;
      bottom: 0.4rem !important;
    }
  }

}

/* card de skills */
.container-card {
  position: relative;
  width: 54rem;
  height: 36rem;
  margin-top: 4.5rem !important;
  background: #1D1D1D;
  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 1.4rem;

    .sobre-card{
      text-align:center;
      color: #ffff;
      width: 56rem;
      padding: 1rem;
      margin-left: -2.4rem;
      font: 700 2rem 'Poppins', sans-serif;
      border-radius: 4rem;
    }

   
}

.container-card .skill-box {
  display: flex;
  width: 50rem;
  margin: 25px 0;
  img {
    position: relative;
    bottom: 1.2rem;
  }
}

.skill-box .title {
  display: block;
  font-size: 1rem;
  margin-right: 1rem;
  font-weight: 600;
  color: rgb(226, 226, 226);
}

.skill-box .skill-bar {
  height: 16px;
  width: 50rem;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(236, 236, 236, 0.1);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: rgb(226, 226, 226);
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.skill-per.html {
  /*progreso de las diferentes lenguajes*/
  width: 75%;
  animation-delay: 0.1s;
}

.skill-per.css {
  /*progreso de las diferentes lenguajes*/
  width: 60%;
  animation-delay: 0.1s;
}

.skill-per.Boostrap {
  /*progreso de las diferentes lenguajes*/
  width: 50%;
  animation-delay: 0.2s;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 29px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 3px;
  background: rgb(226, 226, 226);
  z-index: 6;
}

.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: 2;
  background-color: rgb(226, 226, 226);
  transform: translateX(-50%) rotate(45deg);
}

.article-wrapper {
  width: 25rem;
  -webkit-transition: 0.15s all ease-in-out;
  transition: 0.15s all ease-in-out;
  border-radius: 10px;
  padding: 5px;
  border: 4px solid transparent;
  cursor: pointer;
  background-color: white;
}

.article-wrapper:hover {
  -webkit-box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 #4444bd;
  box-shadow: 10px 10px 0 #4e84ff, 20px 20px 0 #4444bd;
  border-color: #0578c5;
  -webkit-transform: translate(-20px, -20px);
  -ms-transform: translate(-20px, -20px);
  transform: translate(-20px, -20px);
}

.article-wrapper:active {
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}

.types {
  gap: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  place-content: flex-start;
}

.rounded-lg {
 /* class tailwind */
  border-radius: 10px;
}

.article-wrapper:hover .project-hover {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  background-color: #a6c2f0;
}

.project-info {
  padding-top: 20px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
}

.project-title {
  font-size: 1em;
  margin: 0;
  font-weight: 600;
 /* depend de la font */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: black;
}

.flex-pr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.project-type {
  background: #b2b2fd;
  color: #1a41cd;
  font-weight: bold;
  padding: 0.3em 0.7em;
  border-radius: 15px;
  font-size: 12px;
  letter-spacing: -0.6px
}

.project-hover {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 9px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.container-project {
  width: 100%;
  height: 170px;
  background: #fff;
}

/* ///////////////////////// */

.container {
  display: flex;

}


.experiencia {
  justify-content: center;
  align-items: center;
  display: flex;
  color: #ffff ;
  text-align: start ;
  font: 700 1.6rem 'Poppins', sans-serif; 
}

/* ///////////////////////// */

.container {
  display: flex;

}

@media (max-width: 600px) {

  .sobremim {
    justify-content: center;
    align-items: center;
    display: block;
    color: #ffff !important;
    padding:2rem;
    padding-top: 3rem;
    text-align: start ; 
  }

  .sidebar {
    width: 40% !important;
    padding: 1rem !important;
    background-color: #1D1D1D;
    border-radius: 2rem;
    padding-top: 5rem !important;
    text-align: center;
    font: 600 1rem 'Poppins', sans-serif !important;
  }

  .profile-picture {
    border-radius: 50%;
    width: 9.2rem !important;
    height: 9.8rem !important;
    margin-bottom: 10px;
    border: 0.1rem solid #fff;
  }

  .main-content {
    width: 40% !important;
    padding: 5rem;
    height: 40rem !important;
    background-color: #1D1D1D;
    border-radius: 2rem;
  }
  .main-content h2{
    font: 650 1rem 'Poppins', sans-serif !important;
    padding: 0.2rem;
  }
  /* Skills */
  .main-content h3 {
    text-align: start;
    font: 700 1rem 'Poppins', sans-serif !important;
    padding: 0.5rem;
  }
  
  .main-content ul {
    list-style-type:armenian;
    padding: 0;
  }
  
  /* itens do card */
  .main-content ul li {
    display: grid !important;
    padding: 0.5rem;
    font: 600 1rem 'Poppins', sans-serif !important;
  }

}

.sidebar {
  width: 27%;
  padding: 1.2rem;
  background-color: #1D1D1D;
  border-radius: 2rem;
  margin-right: 1.6rem;
  text-align: center;
  font: 600 1.1rem 'Poppins', sans-serif;
}

.profile-picture {
  border-radius: 50%;
  width: 15.2rem;
  height: 15.8rem;
  margin-bottom: 10px;
  border: 0.2rem solid #fff;
}

.sidebar h1, .sidebar p {
  margin: 10px 0;
}

.sidebar a {
  color: #58a6ff;
  text-decoration: none;
}

.sidebar a:hover {
  text-decoration: underline;
}

/* Card preto direita */
.main-content {
  flex: 1;
  padding: 3rem;
  height: 34rem;
  background-color: #1D1D1D;
  border-radius: 2rem;
}

/* Titulo card */
.main-content h2{
  font: 650 2.2rem 'Poppins', sans-serif;
  padding: 0.2rem;
}
/* Skills */
.main-content h3 {
  text-align: start;
  font: 700 1.7rem 'Poppins', sans-serif;
  padding: 0.5rem;
}

.main-content ul {
  list-style-type: none;
  padding: 0;
}

/* itens do card */
.main-content ul li {
  padding: 0.5rem;
  font: 600 1.43rem 'Poppins', sans-serif;
}

/* div de linguagens */
.tools {
  display: flex;
  justify-content: space-around;
}

.icon-container {
  display: inline-block;
  margin-top: 0.4rem;
  margin-bottom: 1.4rem;
  margin-left: 1.8rem;
}
.icon-container img {
  width: 6rem; /* Ajuste este valor conforme necessário */
}

.tools i {
  font-size: 3rem !important;
  color: #c9d1d9 !important;
}

.languages {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.language {
  margin: 5px 0;
}

.language-bar {
  background-color: #58a6ff;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
}

.stats {
  margin-top: 10px;
}

.stats p {
  margin: 5px 0;
}

